openapi: 3.0.0
x-stoplight:
  id: mr4cwcjuzm7fu
info:
  title: hem-external
  version: '1.0'
servers:
  - url: 'https://api.hem.nl/v1'
paths:
  /external/order:
    post:
      summary: Send Order (External)
      operationId: post-user
      responses:
        '201':
          description: Order Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
              examples: {}
        '422':
          description: Missing Required Information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  saleID: '258224135'
                  signTimestamp: '03-05-2022 17:32:03'
                  signIP: 84.241.201.243
                  createTimestamp: '03-05-2022 17:32:03'
                  signType: SIGNATURE
                  signature: ''
                  productID: '17'
                  firstName: E. H. W.
                  lastName: Verblaauw
                  isBusiness: Nee
                  companyName: ''
                  contactPerson: ''
                  cocNumber: ''
                  vatNumber: ''
                  gender: MALE
                  postalCode: 1015 ZH
                  houseNumber: '91'
                  houseNumberAddition: Hl
                  street: Marnixkade
                  city: AMSTERDAM
                  connectionPostalcode: 1015 ZH
                  connectionHousenumber: '91'
                  connectionHousenumberAddition: Hl
                  connectionStreet: Marnixkade
                  connectionCity: Amsterdam
                  birthDate: 19-07-1993
                  email: edgarverblaauw@live.nl
                  phone: '0646352022'
                  ibanNumber: NL60RABO0151803781
                  ibanName: E. H. W. Verblaauw
                  paymentMethod: AUTOMATIC_COLLECTION
                  isDoubleMeter: '1'
                  electricityUsageSingle: ''
                  electricityUsagePeak: '750'
                  electricityUsageOffPeak: '750'
                  gasUsage: '1000'
                  hasReturn: '0'
                  returnSingle: ''
                  returnHigh: ''
                  returnLow: ''
                  isResidential: '1'
                  eanNumberElectricity: ''
                  eanNumberGas: ''
                  startDate: 03/06/2022
                  profileElectricity: ''
                  profileGas: ''
                  energyType: DUAL
                  bagPurpose: ''
                  isMoveIn: '0'
                  currentSupplier: ''
                  status: FINISHED
                  localID: 1509
                  fetchTimestamp: null
                  errorMessage: null
                  externalParty: null
              description: Needs to be unique!
              properties:
                saleID:
                  type: string
                signTimestamp:
                  type: string
                signIP:
                  type: string
                createTimestamp:
                  type: string
                signType:
                  type: string
                signature:
                  type: string
                productID:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                isBusiness:
                  type: boolean
                companyName:
                  type: string
                contactPerson:
                  type: string
                cocNumber:
                  type: string
                vatNumber:
                  type: string
                gender:
                  type: string
                  enum:
                    - MALE
                    - FEMALE
                postalCode:
                  type: string
                houseNumber:
                  type: string
                houseNumberAddition:
                  type: string
                street:
                  type: string
                city:
                  type: string
                connectionPostalcode:
                  type: string
                connectionHousenumber:
                  type: string
                connectionHousenumberAddition:
                  type: string
                connectionStreet:
                  type: string
                connectionCity:
                  type: string
                birthDate:
                  type: string
                email:
                  type: string
                phone:
                  type: string
                  description: Telefoonnummer moet beginnen met een 0
                ibanNumber:
                  type: string
                ibanName:
                  type: string
                paymentMethod:
                  type: string
                  enum:
                    - AUTOMATIC_COLLECTION
                isDoubleMeter:
                  type: boolean
                electricityUsageSingle:
                  type: string
                  description: Verplicht indien energyType = DUAL of ELECTRICITY isDoubleMeter = false
                electricityUsagePeak:
                  type: string
                  description: Verplicht indien energyType = DUAL of ELECTRICITY isDoubleMeter = true
                electricityUsageOffPeak:
                  type: string
                  description: Verplicht indien energyType = DUAL of ELECTRICITY isDoubleMeter = true
                gasUsage:
                  type: string
                  description: Verplicht indien energyType = DUAL of GAS
                hasReturn:
                  type: boolean
                returnSingle:
                  type: string
                  description: Verplicht indien hasReturn = true en isDoubleMeter = false
                returnHigh:
                  type: string
                  description: Verplicht indien hasReturn = true en isDoubleMeter = true
                returnLow:
                  type: string
                  description: Verplicht indien hasReturn = true en isDoubleMeter = true
                isResidential:
                  type: boolean
                eanNumberElectricity:
                  type: string
                  description: Niet verplicht
                eanNumberGas:
                  type: string
                  description: Niet verplicht
                startDate:
                  type: string
                profileElectricity:
                  type: string
                  description: Niet verplicht
                profileGas:
                  type: string
                  description: Niet verplicht
                energyType:
                  type: string
                  enum:
                    - ELECTRICITY
                    - DUAL
                    - GAS
                bagPurpose:
                  type: string
                isMoveIn:
                  type: boolean
                currentSupplier:
                  type: string
            examples:
              Voorbeeld:
                value:
                  saleID: '3123123123'
                  signTimestamp: '20-04-2022 16:59:36'
                  signIP: 10.39.77.250
                  createTimestamp: '20-04-2022 16:59:36'
                  signType: SIGNATURE
                  signature: ''
                  productID: '17'
                  firstName: X.
                  lastName: XXXXX
                  isBusiness: false
                  companyName: ''
                  contactPerson: ''
                  cocNumber: ''
                  vatNumber: ''
                  gender: MALE
                  postalCode: 5911 EV
                  houseNumber: '24'
                  houseNumberAddition: ''
                  street: Puteanusstraat
                  city: VENLO
                  connectionPostalcode: 5911 EV
                  connectionHousenumber: '24'
                  connectionHousenumberAddition: ''
                  connectionStreet: Puteanusstraat
                  connectionCity: Venlo
                  birthDate: 01-05-1990
                  email: XXX@hotmail.com
                  phone: '06123456678'
                  ibanNumber: NL03XXXB0686825829
                  ibanName: X. XXXXXX
                  paymentMethod: AUTOMATIC_COLLECTION
                  isDoubleMeter: false
                  electricityUsageSingle: '1500'
                  electricityUsagePeak: ''
                  electricityUsageOffPeak: ''
                  gasUsage: '1000'
                  hasReturn: false
                  returnSingle: ''
                  returnHigh: ''
                  returnLow: ''
                  isResidential: '1'
                  eanNumberElectricity: ''
                  eanNumberGas: ''
                  startDate: 22/04/2022
                  profileElectricity: ''
                  profileGas: ''
                  energyType: DUAL
                  bagPurpose: ''
                  isMoveIn: '1'
                  currentSupplier: ''
        description: 'Note: Datums/Timestamps mogen in elk formaat aangeleverd worden'
      description: Create a new order
    parameters: []
components:
  schemas: {}
  securitySchemes:
    API Key - 1:
      name: X-Api-Key
      type: apiKey
      in: header
security:
  - API Key - 1: []
